@font-face
    font-family: 'Monument Grotesk Mono'
    src: local('Monument Grotesk Mono'), url(../fonts/ABCMonumentGroteskMono-Regular-Trial.otf) format('opentype')

@font-face
    font-family: 'Monument Grotesk Mono Thin'
    src: local('Monument Grotesk Mono'), url(../fonts/ABCMonumentGroteskMono-Thin-Trial.otf) format('opentype')

@font-face
    font-family: 'Monument Grotesk Mono Light'
    src: local('Monument Grotesk Mono'), url(../fonts/ABCMonumentGroteskMono-Light-Trial.otf) format('opentype')

@font-face
    font-family: 'Exposit'
    src: local('Exposit'), url(../fonts/Exposit-Trial-Regular.otf) format('opentype')


* 
    font-family: 'Monument Grotesk Mono Light'
    box-sizing: border-box
    font-size: 14px

a 
    color: black
 
h1 
    margin-top: 0

.layout 
    margin: 0px auto
    padding: 60px 50px
    display: flex
    justify-content: space-around
    max-width: 1200px

.section 
    width: 100%

p
    margin: 0

nav 
    display: flex
    flex-direction: column
    margin-right: 50px
    width: 20%

.navbar ul 
    list-style: none
    margin: 0
    padding: 0

.card 
    transition: all .2s ease-in-out
    text-align: center


.card:hover
    transform: scale(1.05)
    z-index: 10

.card img
    padding-bottom: 10px
    max-height: 400px



@media only screen and (max-width: 900px) 
    .grid 
        display: flex
        flex-direction: column
    .layout
        flex-direction: column
        padding: 25px 30px
    nav
        width: 100%
        margin-bottom: 50px


.posts
    display: flex
    display: 100%
    justify-content: space-between


.taglist 
    list-style: disc
    padding: 0

.back 
    position: absolute
    top: 0px
    left: 0px
    font-size: 70px
    line-height: 100px


.my-masonry-grid 
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  margin-left: -100px
  width: auto

.my-masonry-grid_column
  padding-left: 90px
  background-clip: padding-box


.my-masonry-grid_column > div 
  margin-bottom: 150px

