@font-face
    font-family: 'Monument Grotesk Mono'
    src: local('Monument Grotesk Mono'), url(../fonts/ABCMonumentGroteskMono-Regular-Trial.otf) format('opentype')

@font-face
    font-family: 'Monument Grotesk Mono Thin'
    src: local('Monument Grotesk Mono'), url(../fonts/ABCMonumentGroteskMono-Thin-Trial.otf) format('opentype')

@font-face
    font-family: 'Monument Grotesk Mono Light'
    src: local('Monument Grotesk Mono'), url(../fonts/ABCMonumentGroteskMono-Light-Trial.otf) format('opentype')

@font-face
    font-family: 'Exposit'
    src: local('Exposit'), url(../fonts/Exposit-Trial-Regular.otf) format('opentype')


* 
    font-family: 'Monument Grotesk Mono Light'
    box-sizing: border-box
    font-size: 14px

a 
    color: blue

.layout 
    margin: 0px auto
    padding: 50px 30px
    max-width: 1200px

.section 
    margin: 50px 0

nav 
    display: flex
    width: 100%

.navbar ul 
    list-style: none
    margin: 0

.grid 
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 50px


.card 
    display: flex
    flex-direction: column
    text-align: center

.card:nth-child(2) 
    align-self: flex-end
    grid-column-start: 2
    justify-self: end

.card:nth-child(3) 
    align-self: flex-start
    grid-column-start: 3

.posts
    display: flex
    display: 100%
    justify-content: space-between


.card 
    transition: all .2s ease-in-out

.card:hover
    transform: scale(1.1)